@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  border-top: 40px solid #e67e22;
  font-size: 20px;
  font-family: Lato, sans-serif;
  line-height: 30px;
  padding: 80px 0 20px;
}

header,
section,
footer {
  max-width: 768px;
  margin: 0 auto;
  padding: 40px 0;
}

header {
  display: grid;
  grid-template-columns: 80px 1fr 58px;
  grid-gap: 20px;
  h1,
  p {
    margin: 0;
  }
}

section:last-of-type {
  padding-bottom: 0;
}

footer {
  padding: 80px 0 0;
  font-size: 16px;
  ul {
    list-style: none;
    li {
      display: inline;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  a {
    color: #2a2d31;
    text-decoration: none;
    transition: all 0.2s;
    &:active {
      color: #fff;
    }
  }
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  &:after {
    display: block;
    content: "";
    margin: 20px 0;
    height: 2px;
    width: 20px;
    background-color: #e67e22;
  }
}

a {
  color: #e67e22;
  &:hover {
    filter: brightness(1.2);
  }
  &:focus {
    background-color: #e67e22;
    color: #fff;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  &.full {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    .grid-item {
      h3 {
        margin-bottom: 10px;
        span {
          font-weight: 400;
        }
      }
    }
  }
  .grid-item {
    padding: 20px;
    transition: all 0.2s;
    &:hover {
      //transform: translateY(-5px);
    }
    h3 {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    ul {
      margin-left: 20px;
      margin-bottom: 0;
      li {
        list-style-type: square;
        margin-left: 20px;
      }
    }
  }
}

label {
  display: block;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #dddddd;
  transition: all 0.2s;
  margin-bottom: 20px;
  color: #2a2d31;
  &:focus {
    border: 1px solid #aaaaaa;
  }
}

button {
  display: block;
  margin-bottom: 20px;
  background-color: #e67e22;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    background: darken(#e67e22, 10%);
  }
}

p.error {
  display: block;
  width: 100%;
  background: #e65122;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

p.warning {
  display: block;
  width: 100%;
  background: #e6af22;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.toggle {
  height: 32px;
  border: 3px solid #e67e22;
  padding: 10px;
  border-radius: 50%;
  fill: #e67e22;
  transition: all 0.25s;
  &:hover {
    cursor: pointer;
    fill: lighten($color: #e67e22, $amount: 10);
    border-color: darken($color: #e67e22, $amount: 10);
  }
  &:active {
    transform: translateY(3px);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
    border-top: 20px solid #e67e22;
    padding: 20px 0;
  }
  h1 {
    font-size: 30px;
    a {
      color: #2a2d31;
      text-decoration: none;
      transition: all 0.2s;
      &:active {
        color: #fff;
      }
    }
  }
  header,
  section,
  footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
  }
  header {
    grid-gap: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .toggle {
    display: none;
  }
}

@media (max-width: 374px) {
  body {
    border-top: 10px solid #e67e22;
    padding: 10px 0;
  }
  header,
  section,
  footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  h1,
  h2,
  h3 {
    font-size: 1.5rem;
  }
}
